{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="static/css/blog.css" rel="stylesheet" />
    </head>

        <body>
        <div class="di">
        <div class="div1">
          <p>HACKEREARTH</p>
          </div>
          <div class="div2">
          <p>Do you have any queries</p>
          </div>
          </div>
          <br>
          <div class="nav">
          <ul>
              <li><a href="one.html">MAIN PAGE</a></li>
                         <li><a href="#">COMPANY</a></li>
                         <li><a href="#">SERVICES</a></li>
                         <li><a href="#">SOMETHING SPECIAL</a></li>
                         <li><a href="#">REFRENCES</a></li>
                         <li><a href="#">CONTACT US NOW</a></li>
                         <li><a href="#">SIGN UP</a></li>
                         <li><a href="#">LOGIN</a></li>
          </ul>
          </div>
          <div class="slider">
                    <img src="{% static "my_app/img1.jpg" %}" alt="Not visible" style="width: 1200px;" >
                        <input type ="button" class="classic_button_next btn btn-primary btn-large" id="next_button" value=">>"/>
                        <input type ="button" class="classic_button_next btn btn-primary btn-large" id="previous_button" value="<<"/>
          </div>
                    <article id="art">
                    <div id="left">
                        <h4>
                            Le Déjeuner sur l’herbe is a large oil on canvas painting by Édouard Manet created in 1862 and 1863. It depicts a female nude and a scantily dressed female bather on a picnic with two fully dressed men in a rural setting. Rejected by the Salon jury of 1863, Manet seized the opportunity to exhibit this and two other paintings in the 1863 Salon des Refusés, where the painting sparked public notoriety and controversy. The piece is now in the Musée d'Orsay in Paris.</h4>
                    </div>
                    <article>
                            <div id="right" >

                               <p>
                                  Le Déjeuner sur l’herbe is a large oil on canvas painting by Édouard Manet created in 1862 and 1863. It depicts a female nude and a scantily dressed female bather on a picnic with two fully dressed men in a rural setting. Rejected by the Salon jury of 1863, Manet seized the opportunity to exhibit this and two other paintings in the 1863 Salon des Refusés, where the painting sparked public notoriety and controversy. The piece is now in the Musée d'Orsay in Paris.</p>
                                  <div id="right-bottom">
                                  <p>
                                  Le Déjeuner sur l’herbe is a large oil on canvas painting by Édouard Manet created in 1862 and 1863. It depicts a female nude and a scantily dressed female bather on a picnic with two fully dressed men in a rural setting. Rejected by the Salon jury of 1863, Manet seized the opportunity to exhibit this and two other paintings in the 1863 Salon des Refusés, <a href="#">where the painting sparked public</a> notoriety and controversy. The piece is now in the Musée d'Orsay in Paris.</p>
                                  </div>
                            </div>
                            </article>
                    </article>
                    <br>
                    <div class="footer-large">
                             <div class="content align-centre">
                                <div class="section">
                               <p   class="category-title">About us</p>
                                 <ul>
                                     <li>BLOG</li>
                                     <li>Engineering Blog</li>
                                     <li>Career</li>
                                     <li>Team</li>
                                 </ul>
                                </div>
                             <div class="section">
                             <p class="category-title">HACKEREARTH</p>
                                 <ul>
                                 <li>BLOG</li>
                                 <li>Engineering Blog</li>
                                 <li>Career</li>
                                 <li>Team</li>
                                 </ul>
                             </div>
                             <div class="section">
                             <p   class="category-title">DEVELOPERS</p>
                                     <ul>
                                     <li>BLOG</li>
                                     <li>Engineering Blog</li>
                                     <li>Career</li>
                                     <li>Team</li>
                             </ul>
                             </div>
                             <div class="section">
                             <p class="category-title">EMPLOYEE</p>
                                 <ul>
                                 <li>Developer Sourcing </li>
                                 <li>Lateral Hiring</li>
                                 <li>Campus Hiring</li>
                                 <li>Hackthons</li>
                             </ul>
                             </div>
                             </div>
         </div>
             <div id="footer">
             <div class="footer-left" >
                 <p>CopyRight@2015</p>
             </div>
             <div class="footer-right">
                 <p>Developed By</p>
             </div>
             </div>
        </body>

</html>
