{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="static/css/blog.css" rel="stylesheet" />
    </head>

        <body class="body1">
                <div id="main" class="head">
                <p>LOREM<strong>IPSUMDOL</strong></p>
                </div>
                <div id="headsub" class="hsub">
                <p>Have You Any Queries ? Call Us?</p>
                <p> +000 555 123 456</p>
                </div>
                <div id="container">
                 <header>
                    <a href="#">MAIN PAGE</a>
                    <a href="#">ABOUT COMPANY</a>
                    <a href="#">SERVICES</a>
                    <a href="#">SOMETHING SPECIAL</a>
                    <a href="#">REFRENCES</a>
                    <a href="#">CONTACT US NOW</a>
                 </header>
                 <div id="img" class="img">
                    <img src="{% static "my_app/img1.jpg" %}" alt="Not visible">
                    </div>
                    <div id="content">
                    <p>Found on sandy soils in heathland or shrubland, it grows to 2 m (7 ft) high and 3 m (10 ft) across with fine needle-like leaves. Appearing in spring and summer, the flower spikes are tan to cream with purple styles. B. scabrella is killed by fire and regenerates by seed. Originally collected in 1966
                    </p>
                    </div>
                 <footer>
                    <p>This is a footer</p>
                     <h1>Going to commit</h1>
                 </footer>
                 </div>
        </body>

</html>
