<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
        <form action="{% url 'save' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
          <legend>Login</legend>
          <label>
            Name
            <input name="name" type="text" />
          </label>
          <br/>
          <br/>
          <label>
            Email
            <input name="email" type="text" />
          </label>
          <br/>
          <br/>
          <label>
            Resume
            <input name="resume" type="file" />
            </label>
            <br/>
            <br/>
            <br/>
            <label>
            <input type="submit" value="Submit" />
            </label>
        </fieldset>

</body>
</html>