<html>
    <head>
    </head>
        <body>
                <form>
                <p>Name</p>
                <input name="name" type="text" />
                </br>
                <p>Email</p>
                <input name="email" type="text" />
                </br>
                <p>Resume</p>
                <input name="resume" type="file" />
                </br>
                </br>
                <input type="submit" value="Submit" />
                </form>
        </body>
</html>

#container {
    float: left;
    margin: 5px;
    padding: 15px;
    height: 300px;

}
body {
    float:left;
    clear: left;

}
ssh -i webserver.pem ubuntu@ec2-52-43-236-235.us-west-2.compute.amazonaws.com