.body12
{
    max-width: 1000px;
    width: 100%;
}
#textbox
{
    width: 100%;
    float: left;
    padding:10px;
}
.alignleft {
    float: left;
    display: inline;
    padding-left: 10%;
}
.alignright {
    float: right;
    margin:10px,10px,10px;
}
div#nav{
    height:1em;
    clear:both;
    margin-left: 100px;
    margin-right: auto;
    width: 100%;

}
div#nav ul{
    margin:auto;
    padding:0;

}
div#nav li{
   padding:5px;
   width:160px;
   display:inline-block;
   float: left;
   text-align:center;
   background-color:black;
}
#img
{
    padding-left:5%;
    padding-right:10%;
}